
.searchBlock{
    width: 250px;
height: 45px;
border: 1px solid #F3F3F3;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
padding-left: 18px;

input{
    border:none;
    padding: 10px;
font-weight: 400;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #f7f7f7;
width: 200px;
    
}

}