.content{
    padding: 40px;

    h1{
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
      
    }
}

.contentSearch{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.sneakers{
    display: flex;
    flex-wrap: wrap;
}